<h1>Welcome Admin Page</h1>


<%= link_to 'Movies', movies_path, class: 'btn btn-primary' %>
<%= link_to 'Theaters', theaters_path, class: 'btn btn-secondary' %>
<%= link_to 'Showtimes', showtimes_path, class: 'btn btn-secondary' %>