<div id="<%= dom_id booking %>">
  <p>
    <strong>Showtime:</strong>
    <%= booking.showtime_id %>
  </p>

  <p>
    <strong>Number of tickets:</strong>
    <%= booking.number_of_tickets %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= booking.total_amount %>
  </p>

</div>
